@use "./base.scss";

.cell-green {
  background-color: #d9ead3;
}

.character-header {
  margin-top: 60px;
  padding: 0px 0px 0px 300px;
  height: 100px;
  line-height: 100px;
  font-size: 32px;
  background-color: #222;
  position: relative;
  clip-path: inset(-100vh -100vw 0 -100vw);
}

.header-red {
  color: #e62d5e;
}

.header-blue {
  color: #187ab0;
}

.character-header .stripe {
  position: absolute;
  top: 0;
  left: 40px;
  height: 100px;
  width: 200px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.stripe-red {
  background-color: #e62d5e;
}

.stripe-blue {
  background-color: #187ab0;
}

.character-header .character-image {
  position: absolute;
  top: -50px;
  left: 0;
}
