@use "./base.scss";

.character-header {
  margin-top: 60px;
  padding: 0px 0px 0px 240px;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  background-color: #222;
  position: relative;
  clip-path: inset(-100vh -100vw 0 -100vw);
}

.header-red {
  color: #e62d5e;
}

.header-blue {
  color: #187ab0;
}

.header-purple {
  color: #b764ff;
}

.character-header .stripe {
  position: absolute;
  top: 0;
  left: 40px;
  height: 60px;
  width: 160px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.stripe-red {
  background-color: #e62d5e;
}

.stripe-blue {
  background-color: #187ab0;
}

.stripe-purple {
  background-color: #b764ff;
}

.character-header .character-image {
  position: absolute;
  top: -50px;
  left: 0;
}

.character-header .character-image img {
	height: 250px;
}

pre {
	padding: 0.5rem 1rem;
}

blockquote {
	overflow: auto;
	background-color: var(--highlight);
}

.table-container table {
	border-collapse: collapse;
    margin: 0rem;
    padding: 0rem;
    font-size: 0.9em;
    min-width: 400px;
    border: 1px solid var(--lightgray);
}

table th,
table td {
    padding: 4px 10px;
    border-right: 1px solid var(--lightgray);
}

table tbody tr {
    border-bottom: 1px solid var(--lightgray);
}

table tbody tr:nth-of-type(even) {
    background-color: var(--light);
}

.page article li:has(>input[type=checkbox]:checked) {
	text-decoration: none;
	color: var(--darkgray);
}
