@use "./base.scss";

.character-header {
  margin-top: 60px;
  padding: 0px 0px 0px 240px;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  background-color: #222;
  position: relative;
  clip-path: inset(-100vh -100vw 0 -100vw);
}

.header-red {
  color: #e62d5e;
}

.header-blue {
  color: #187ab0;
}

.header-purple {
  color: #b764ff;
}

.character-header .stripe {
  position: absolute;
  top: 0;
  left: 40px;
  height: 60px;
  width: 160px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.stripe-red {
  background-color: #e62d5e;
}

.stripe-blue {
  background-color: #187ab0;
}

.stripe-purple {
  background-color: #b764ff;
}

.character-header .character-image {
  position: absolute;
  top: -50px;
  left: 0;
}

.character-header .character-image img {
	height: 250px;
}

pre {
	padding: 0.5rem 1rem;
}

blockquote {
	overflow: auto;
	background-color: var(--highlight);
}

.table-container table {
	border-collapse: collapse;
    margin: 0rem;
    padding: 0rem;
    font-size: 0.9em;
    min-width: 400px;
    border: 1px solid var(--lightgray);
}

table th,
table td {
    padding: 4px 10px;
    border-right: 1px solid var(--lightgray);
}

table tbody tr {
    border-bottom: 1px solid var(--lightgray);
}

table tbody tr:nth-of-type(even) {
    background-color: var(--light);
}

.page article li:has(>input[type=checkbox]:checked) {
	text-decoration: none;
	color: var(--darkgray);
}

.icon {
  vertical-align: -0.125em;
}

.folder-icon::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  
  /* This ensures the icon matches the text color */
  background-color: currentColor;
  
  /* The Encoded SVG */
  --svg-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M128 512L512 512C547.3 512 576 483.3 576 448L576 208C576 172.7 547.3 144 512 144L362.7 144C355.8 144 349 141.8 343.5 137.6L305.1 108.8C294 100.5 280.5 96 266.7 96L128 96C92.7 96 64 124.7 64 160L64 448C64 483.3 92.7 512 128 512z'/%3E%3C/svg%3E");
  
  -webkit-mask-image: var(--svg-url);
  mask-image: var(--svg-url);
  
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  
  /* Alignment tweaks */
  margin-right: 0.5em;
}

footer {
	margin-bottom: 2rem;
}

article a {
	text-decoration: underline;
}
